html
head
body
div(class = "conatiner")
br
div(class = "jumbotron")
h1(class = "display-4") Send Message
br
input 
br
textarea#message(class = "form-control") Your Message Here
br
button#send(class = "btn btn-success") Send
div#messages
script